<server description="Sample Servlet server">
    <featureManager>
        <platform>jakartaee-10.0</platform>
        <feature>servlet</feature>
    </featureManager>

    <variable name="http.port" defaultValue="9080"/>
    <variable name="https.port" defaultValue="9443"/>
    <variable name="app.context.root" defaultValue="ServletSample"/>

    <!-- tag::httpEndpoint[] -->
    <httpEndpoint httpPort="${http.port}" 
    httpsPort="${https.port}" id="defaultHttpEndpoint"  host="*" />
    <!-- end::httpEndpoint[] -->
    <webApplication id="ServletSample" location="ServletSample.war" contextRoot="${app.context.root}" />
</server>
