# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Test Guide

on:
  push:
    branches: [ master, qa ]
  pull_request:
    branches: [ master, qa ]

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: finish

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - run: unset _JAVA_OPTIONS
    - name: Run tests
      run: mvn -q clean package liberty:create liberty:install-feature liberty:deploy
    - run: mvn liberty:start
    - run: mvn failsafe:integration-test liberty:stop
    - run: mvn failsafe:verify
